html, body {
    background-color: #6c809a;
}

#name {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: 10%;
    margin-bottom: 50px;
    color: #2e86ab;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    border: thick double #2e86ab;
    background-color: #CDD7d6;
    width: 80%;
    height: 50%;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#name h1 {
    text-align: center;
}

#name img {
    height: 60px;
    width: 80px;
    padding: 20px;
}

.link-boxes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

/*Button Design from https://cssbuttons.app/buttons/62*/
.link {
  color: #2e86ab;
  background-color: #CDD7d6;
  border-radius: 50px;
  border: thick double #2e86ab;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 8em;
  font-size: large;
  font-weight: 600;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.link:hover {
    box-shadow: 1px 1px 25px 10px #2e86ab;
    text-decoration: none;
}

.link:hover:before {
    left: 100%;
    text-decoration: none;
}


.link:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, 
    transparent, 
    rgba(146, 148, 248 0.4), 
    transparent
    );
    transition: all 650ms;
    text-decoration: none;
}


#cover-photo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 50px;
}

#cover-photo p {
    width: 300px;
    height: 500px;
    color: 12130f;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    border: thick double #2e86ab;
    background-color: #CDD7d6;
    margin-right: 20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

#cover-photo p:after{
    content: '';
    height: 100%; 
    width: 1px;

    position: absolute;
    right: 0;
    top: 0;
}

#cover-photo img {
    width: 300px;
    height: 400px;
    position: relative;
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: 10px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
    border: 4mm ridge #2e86ab;
    margin-top: 20px;
}

#cover-photo img:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}

#copyright-footer p{
    display:flex;
    justify-content: center;
}